body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
#container{
	width: 1500px;
	height: 650px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);
	margin: 20px auto;	
}